.main {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
}

.target {
    margin-left: 10px;
    margin-right: 10px;
}

.targetCont {
    display: flex;
    flex-direction: row;
}

.countCont {
    margin-top: 20px;
    font-size: 40px;
}
