.main {
    margin-left: 10px;
    margin-right: 10px;
    display: flex;
    flex-direction: column;
}

.targetCont {
    display: flex;
    flex-direction: row;
    width: 200px;
}

.target {
    margin-left: 10px;
    margin-right: 10px;
}

.catCounter {
    margin-top: 20px;
    font-size: 20px;
}

#catPic {
    width: 200px;
}

.form-container {
    display: flex;
    flex-direction: column;
    width: 250px;
}
